# .env

ENV_STATE="dev" # or prod

APP_HOST=localhost
APP_PORT=8000

API_NAME="Midas loan ML🚀"
API_DESCRIPTION="Midas Loan ML API🚀"
API_VERSION="0.1.0"
API_DEBUG_MODE=True


# 
LOG_CONFIG_FILENAME="logging_config.yaml"

POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_pwd
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=database_name

DEV_POSTGRES_USER=db_user
DEV_POSTGRES_PASSWORD=db_pwd
DEV_POSTGRES_SERVER=localhost
DEV_POSTGRES_PORT=5432
DEV_POSTGRES_DB=database_name